# Python
__pycache__/
*.py[cod]
*$py.class

# Build and Dist
build/
dist/
Output/
*.spec

# User Data and Logs
data/*.json
!data/presets.json
src/data/*.json
!src/data/presets.json
data/models/
data/*.log
*.log

# Misc
.env
